//Microsoft Visual C++에서 생성한 리소스 스크립트입니다.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE 2 리소스에서 생성되었습니다.
//
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE 18, 1

/////////////////////////////////////////////////////////////////////////////
//
// 아이콘
//

// 응용 프로그램 아이콘이 모든 시스템에서 일관된 상태를 유지하도록 하기 위해
// 가장 낮은 ID 값을 갖는 아이콘이 맨 처음 배치됩니다.

IDI_BORDERLANDS2       ICON         "Borderlands2.ico"
IDI_SMALL               ICON         "small.ico"

/////////////////////////////////////////////////////////////////////////////
//
// 메뉴
//

IDC_BORDERLANDS2 MENU
BEGIN
POPUP "파일(&F)"
BEGIN
MENUITEM "끝내기(&X)", IDM_EXIT
END
POPUP "도움말(&H)"
BEGIN
MENUITEM "정보(&A)...", IDM_ABOUT
END
END


/////////////////////////////////////////////////////////////////////////////
//
// 액셀러레이터 키
//

IDC_BORDERLANDS2 ACCELERATORS
BEGIN
"?", IDM_ABOUT, ASCII, ALT
"/", IDM_ABOUT, ASCII, ALT
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Borderlands2 정보"
FONT 9, "MS Shell Dlg"
BEGIN
ICON            IDR_MAINFRAME, IDC_STATIC, 14, 14, 21, 20
LTEXT           "Borderlands2, 버전 1.0", IDC_STATIC, 42, 14, 114, 8, SS_NOPREFIX
LTEXT           "Copyright (C) 2017", IDC_STATIC, 42, 26, 114, 8
DEFPUSHBUTTON   "확인", IDOK, 113, 41, 50, 14, WS_GROUP
END

IDD_PLANE DIALOGEX 0, 15, 193, 554
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_TRANSPARENT
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
PUSHBUTTON      "높이맵 열기", IDC_OPEN_HEIGHT, 20, 23, 62, 14
GROUPBOX        "지형", IDC_STATIC, 11, 10, 170, 36
PUSHBUTTON      "지형 텍스쳐 열기", IDC_OPEN_TEXTURE, 94, 23, 78, 14
GROUPBOX        "채우기", IDC_STATIC, 12, 50, 169, 36
CONTROL         "점", IDC_RADIO_POINT, "Button", BS_AUTORADIOBUTTON | WS_GROUP, 23, 65, 24, 10
CONTROL         "와이어프레임", IDC_RADIO_WIRE, "Button", BS_AUTORADIOBUTTON, 56, 65, 64, 10
CONTROL         "솔리드", IDC_RADIO_SOLID, "Button", BS_AUTORADIOBUTTON, 128, 65, 40, 10
GROUPBOX        "지형 관리 (마우스 오른쪽 버튼 클릭)", IDC_STATIC, 11, 95, 169, 63
PUSHBUTTON      "올리기", IDC_PICKING_UP, 24, 109, 32, 21
PUSHBUTTON      "내리기", IDC_PICKING_DOWN, 136, 109, 32, 21
PUSHBUTTON      "평지", IDC_PICKING_NORMAL, 80, 109, 32, 21
CTEXT           "보정값", IDC_STATIC, 20, 139, 27, 10
SCROLLBAR       IDC_SCROLLBAR_PICKING, 51, 137, 94, 13
EDITTEXT        IDC_EDIT_PICKINGVALUE, 152, 137, 22, 13, ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER
GROUPBOX        "픽킹 원 제어", IDC_STATIC, 11, 163, 170, 110
CTEXT           "큰원", IDC_STATIC, 15, 184, 27, 10
SCROLLBAR       IDC_SCROLLBAR_BIGCIRCLE, 50, 182, 94, 13
EDITTEXT        IDC_EDIT_BIGCIRCLE, 152, 183, 22, 13, ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER
CTEXT           "작은원", IDC_STATIC, 15, 230, 27, 10
SCROLLBAR       IDC_SCROLLBAR_SMALLCIRCLE, 49, 227, 94, 13
EDITTEXT        IDC_EDIT_SMALLCIRCLE, 152, 228, 22, 13, ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER
CTEXT           "증가값", IDC_STATIC, 15, 200, 27, 10
SCROLLBAR       IDC_SCROLLBAR_BIGVALUE, 49, 199, 94, 13
EDITTEXT        IDC_EDIT_BIGVALUE, 152, 199, 22, 13, ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER
CTEXT           "증가값", IDC_STATIC, 15, 246, 27, 10
SCROLLBAR       IDC_SCROLLBAR_SMALLVALUE, 49, 245, 94, 13
EDITTEXT        IDC_EDIT_SMALLVALUE, 152, 245, 22, 13, ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER
END

IDD_TEXTURE DIALOGEX 0, 15, 185, 367
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
GROUPBOX        "텍스쳐", IDC_STATIC, 8, 7, 169, 31
PUSHBUTTON      "텍스쳐 불러오기", IDC_LOADSPLATING, 39, 18, 108, 13
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
IDD_PLANE, DIALOG
BEGIN
LEFTMARGIN, 4
RIGHTMARGIN, 188
TOPMARGIN, 7
BOTTOMMARGIN, 547
END

IDD_TEXTURE, DIALOG
BEGIN
LEFTMARGIN, 7
RIGHTMARGIN, 178
TOPMARGIN, 7
BOTTOMMARGIN, 360
END
END
#endif    // APSTUDIO_INVOKED

#endif    // 한국어 resources
/////////////////////////////////////////////////////////////////////////////

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//
1 TEXTINCLUDE
BEGIN
"resource.h\0"
END

2 TEXTINCLUDE
BEGIN
"#ifndef APSTUDIO_INVOKED\r\n"
"#include ""targetver.h""\r\n"
"#endif\r\n"
"#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
"#include ""windows.h""\r\n"
"#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
"\0"
END

3 TEXTINCLUDE
BEGIN
"\r\n"
"\0"
END

#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// 문자열 테이블
//

STRINGTABLE
BEGIN
IDC_BORDERLANDS2   "BORDERLANDS2"
IDS_APP_TITLE       "Borderlands2"
END

/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE 3 리소스에서 생성되었습니다.
//

/////////////////////////////////////////////////////////////////////////////
#endif    // APSTUDIO_INVOKED가 아님


